.authBox {
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
