// ========
$mobile: 480px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 1023px;
$desktop: 1024px;
// ========= fonts
$main-font: 'Roboto', sans-serif;

$bg-color: #263238;

// $bg-color: #607d8b;
// $bg-color: #282c34;

$accent-color: #f7e852;
$accent-color-2: yellow;
$text-color: #b4a5a5;
$text-color-2: #c5d8dd;
// $bg-color: #151515;
